#### TUPLES IN PYTHON

In [1]:
t=("Shailendra",2,3,4,5)   # tuples are immutable(non changable) in nature.
print(t)

('Shailendra', 2, 3, 4, 5)

In [2]:
print(t[0]) # ways to access the element of the tuples.

Shailendra

In [3]:
t[0]="Upadhyay" # this will gives error because tuples are immutable.

TypeError: 'tuple' object does not support item assignment

###### converting a tuple into a list

In [4]:
l=list(t)
print(l)

['Shailendra', 2, 3, 4, 5]

In [5]:
print(l[0])

Shailendra

In [6]:
l[1]=4  # now this will not give any error because lists are mutable.

In [7]:
print(l[1])

4

###### converting list into a tuple

In [9]:
t1=tuple(l)
print(t1)

('Shailendra', 4, 3, 4, 5)

In [10]:
print(type(t1))

<class 'tuple'>

###### concatenation

In [11]:
t1=(1,2,3,4,5)
t2=(6,7,8,9,10)
t=t1+t2
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

###### Repetition

In [13]:
t1=t2*3
print(t1)

(6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10)

###### min-max

In [15]:
print(min(t1))
print(max(t1))

6
10